* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: max(250px, 20%) 1fr;
  grid-template-rows: max-content 1fr;
  height: 100vh;
}

.sidebar {
  background-color: #1992d4;
  color: white;
  font-weight: 700;
  padding: 15px;
  grid-column: 1 / span 1;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 50px;
  --logo-width: 40px;
}

.sidebar * {
  display: grid;
}

.sidebar svg {
  width: calc(var(--logo-width) / 2);
  justify-self: center;
}

.logo-container svg {
  width: var(--logo-width);
}

.actions-container,
.configs-container {
  gap: 12px;
}

.logo-container,
.actions-container > *,
.configs-container > * {
  grid-template-columns: var(--logo-width) 1fr;
  gap: 10px;
  align-items: center;
}

.header {
  padding: 15px 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, max-content);
  gap: 30px 15px;
}

.header > * {
  display: grid;
  column-gap: 10px;
  align-items: center;
}

.header form {
  grid-template-columns: max-content 1fr;
}

.search-button,
.notification-button {
  background-color: inherit;
  border: none;
}

.search-bar {
  background-color: rgb(226, 232, 240);
  border: none;
  border-radius: 50px;
  padding: 5px;
}

.user-info {
  grid-template-columns: repeat(3, max-content);
  font-weight: 600;
  font-size: 0.75rem;
}

.user-presentation {
  grid-template-columns: max-content 1fr;
}

.presentation-text p {
  font-weight: 700;
}

.presentation-text p:first-child {
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.user-info,
.user-actions {
  justify-content: end;
}

.user-actions {
  grid-template-columns: repeat(3, max-content);
}

.user-actions button {
  background-color: rgba(25, 146, 212, 255);
  color: white;
  font-weight: 700;
  border: none;
  height: max-content;
  width: 75px;
  padding: 10px;
  border-radius: 40px;
}

.main {
  background-color: rgba(226, 232, 240, 255);
  box-shadow: 0 -2px 3px rgb(194, 193, 193);
  padding: 20px 15px;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  gap: 20px;
}

.projects-container {
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: max-content;
  gap: 15px;
}

.projects-title,
.announcements-title {
  grid-column: 1 / -1;
  font-weight: 500;
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgb(194, 193, 193);
  padding: 20px 10px;
  font-size: 0.7rem;
  display: grid;
  gap: 15px;
}

.description-area h2 {
  font-size: 0.8rem;
  font-weight: 700;
}

.description-area p {
  font-size: 0.7rem;
  color: rgb(100, 99, 99);
}

.project {
  border-left: rgb(240, 180, 41) solid 5px;
}

.project-actions {
  grid-template-columns: repeat(3, max-content);
  gap: 20px;
  justify-self: end;
  align-items: center;
}

.announcements-container {
  grid-template-rows: max-content 1fr;
  display: grid;
  gap: 15px;
}

.announcements {
  padding: 30px 0 10px;
}

.announcement-section {
  border-bottom: rgb(194, 193, 193) solid 1px;
  width: 80%;
  justify-self: center;
  padding-bottom: 15px;
}

.announcement-section:last-of-type {
  border: none;
}

.announcement-section .description-area * {
  font-size: 0.7rem;
}
